@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --beige: #FFF7ED;
  --bordeaux: #852525;
}

html,
body {
  background-color: var(--beige);

  font-family: "Belleza", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--bordeaux);
}
